# Java / Maven 
suonacongigi-backend/target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/
**/.vscode/
**/launch.json

# Angular
suonacongigi-frontend/node_modules/
suonacongigi-frontend/dist/

# Variabili d'ambiente
.env
*.env
